<!DOCTYPE html>
<html>
    <head>
        <title>You are now hacked</title>
    </head>
    <body>
        <h1>Pay £10000000</h1>
        <p>You have commit crimes against the law</p>
    </body>
</html>